<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <% if user_signed_in? %>
                <%= link_to "My Listings", root_path(user_id: current_user.id), :class => "nav-link" %>
            <% end %>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
        </li>
            <% if user_signed_in? %>
        <li class="nav-item active">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "nav-link"  %>
        </li>
            <% else %>
        <li class="nav-item active">
            <%= link_to "Log In", new_user_session_path, :class => "nav-link"  %>
            <% end %>
        </li>
            <% if user_signed_in? %>
        <li class="nav-item">
            <a class="nav-link disabled">Currently Logged In As <u><%= current_user.email %></u> <span class="sr-only">(current)</span></a>
        </li>
            <% else %>
        <li class="nav-item">
            <a class="nav-link disabled">Currently Not Logged In <span class="sr-only">(current)</span></a> 
            <% end %>
        </li>
    </ul>
</nav>

<h1>Payment was a success! Youll now momentarily be re-directed to the listing again</h1>